<a href="https://colab.research.google.com/github/oliyoung/oliyoung/blob/main/Assessment_2a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Upload data

In [19]:
from google.colab import drive 
drive.mount('/content/gdrive') 
%cd gdrive/ 
%cd MyDrive/

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
[Errno 2] No such file or directory: 'gdrive/'
/content/gdrive/MyDrive
[Errno 2] No such file or directory: 'MyDrive/'
/content/gdrive/MyDrive

In [20]:
import pandas as pd 
df= pd.read_csv('Cellphone1.csv') 
df.head()

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,128,1,1,2.7,1,265.1,110,89.0,9.87,10.0
1,0,107,1,1,3.7,1,161.6,123,82.0,9.78,13.7
2,0,137,1,0,0.0,0,243.4,114,52.0,6.06,12.2
3,0,84,0,0,0.0,2,299.4,71,57.0,3.10,6.6
4,0,75,0,0,0.0,3,166.7,113,41.0,7.42,10.1

Calculating summary statistics of inputs

In [21]:
df.describe()

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,0.144914,101.064806,0.903090,0.276628,0.816475,1.562856,179.775098,100.435644,56.305161,10.051488,10.237294
std,0.352067,39.822106,0.295879,0.447398,1.272668,1.315491,54.467389,20.069084,16.426032,2.535712,2.791840
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000
25%,0.000000,74.000000,1.000000,0.000000,0.000000,1.000000,143.700000,87.000000,45.000000,8.330000,8.500000
50%,0.000000,101.000000,1.000000,0.000000,0.000000,1.000000,179.400000,101.000000,53.500000,10.070000,10.300000
75%,0.000000,127.000000,1.000000,1.000000,1.780000,2.000000,216.400000,114.000000,66.200000,11.770000,12.100000
max,1.000000,243.000000,1.000000,1.000000,5.400000,9.000000,350.800000,165.000000,111.300000,18.190000,20.000000

**Call 6 classifiers libraries **

In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier

Call classifiers performance metrics libraries

In [23]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
from sklearn.inspection import permutation_importance
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report, precision_recall_curve
import numpy as np

**collecting all the input features**

In [24]:
df_feature = df.drop(['Churn'], axis=1)
df_feature.head()
df_feature.describe()

,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,0.903090,0.276628,0.816475,1.562856,179.775098,100.435644,56.305161,10.051488,10.237294
std,39.822106,0.295879,0.447398,1.272668,1.315491,54.467389,20.069084,16.426032,2.535712,2.791840
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000
25%,74.000000,1.000000,0.000000,0.000000,1.000000,143.700000,87.000000,45.000000,8.330000,8.500000
50%,101.000000,1.000000,0.000000,0.000000,1.000000,179.400000,101.000000,53.500000,10.070000,10.300000
75%,127.000000,1.000000,1.000000,1.780000,2.000000,216.400000,114.000000,66.200000,11.770000,12.100000
max,243.000000,1.000000,1.000000,5.400000,9.000000,350.800000,165.000000,111.300000,18.190000,20.000000

In [25]:
df_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AccountWeeks     3333 non-null   int64
 1   ContractRenewal  3333 non-null   int64
 2   DataPlan         3333 non-null   int64
 3   DataUsage        3333 non-null   float64
 4   CustServCalls    3333 non-null   int64
 5   DayMins          3333 non-null   float64
 6   DayCalls         3333 non-null   int64
 7   MonthlyCharge    3333 non-null   float64
 8   OverageFee       3333 non-null   float64
 9   RoamMins         3333 non-null   float64
dtypes: float64(5), int64(5)
memory usage: 260.5 KB

**Examining dependent (output) feature**

In [26]:
df_label = df['Churn']
df_label.head()

0    0
1    0
2    0
3    0
4    0
Name: Churn, dtype: int64

Calculating the summary statistics of output feature

In [27]:
df_label.describe()

count    3333.000000
mean        0.144914
std         0.352067
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Churn, dtype: float64

**Preparing train and test data**

In [28]:
X_train, X_test, y_train, y_test = train_test_split(df_feature, df_label, test_size=0.3)

## Evaluation of RandomForest model

In [62]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: %0.3f" % accuracy )
print(classification_report(y_test,y_pred))

for feature, score in enumerate(model.feature_importances_):
	print('%s\t\t%.3f' % (df.columns[feature],score))

Accuracy: 0.937
              precision    recall  f1-score   support

           0       0.95      0.98      0.96       864
           1       0.82      0.68      0.75       136

    accuracy                           0.94      1000
   macro avg       0.89      0.83      0.86      1000
weighted avg       0.93      0.94      0.93      1000

Churn		0.066
AccountWeeks		0.069
ContractRenewal		0.038
DataPlan		0.070
DataUsage		0.142
CustServCalls		0.193
DayMins		0.064
DayCalls		0.164
MonthlyCharge		0.106
OverageFee		0.088

## Evaluation of kNN (k Nearest Neighbours) Model

In [60]:
model = KNeighborsClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: %0.3f" % accuracy )
print(classification_report(y_test,y_pred))

Accuracy: 0.877
              precision    recall  f1-score   support

           0       0.90      0.97      0.93       864
           1       0.60      0.29      0.39       136

    accuracy                           0.88      1000
   macro avg       0.75      0.63      0.66      1000
weighted avg       0.86      0.88      0.86      1000

## Evaluation of Decision Tree Classifier

In [63]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: %0.3f" % accuracy )
print(classification_report(y_test,y_pred))

for feature, score in enumerate(model.feature_importances_):
	print('%s\t\t%.3f' % (df.columns[feature],score))

Accuracy: 0.880
              precision    recall  f1-score   support

           0       0.94      0.92      0.93       864
           1       0.55      0.64      0.59       136

    accuracy                           0.88      1000
   macro avg       0.75      0.78      0.76      1000
weighted avg       0.89      0.88      0.88      1000

Churn		0.040
AccountWeeks		0.075
ContractRenewal		0.000
DataPlan		0.096
DataUsage		0.124
CustServCalls		0.220
DayMins		0.060
DayCalls		0.139
MonthlyCharge		0.136
OverageFee		0.110

# Evaluation of SVC Model

In [64]:
mode = SVC()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: %0.3f" % accuracy )
print(classification_report(y_test,y_pred))

for feature, score in enumerate(model.feature_importances_):
	print('%s\t\t%.3f' % (df.columns[feature],score))

Accuracy: 0.883
              precision    recall  f1-score   support

           0       0.94      0.92      0.93       864
           1       0.56      0.65      0.60       136

    accuracy                           0.88      1000
   macro avg       0.75      0.78      0.77      1000
weighted avg       0.89      0.88      0.89      1000

Churn		0.046
AccountWeeks		0.075
ContractRenewal		0.002
DataPlan		0.091
DataUsage		0.128
CustServCalls		0.232
DayMins		0.055
DayCalls		0.129
MonthlyCharge		0.134
OverageFee		0.107

## Evaluation of Logistic Regression model

In [61]:
model = LogisticRegression()
# fit the model
model.fit(X_train, y_train)
# get importance
importance = model.coef_[0]

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy * 100)
print(classification_report(y_test,y_pred))

# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

86.2
              precision    recall  f1-score   support

           0       0.89      0.96      0.92       864
           1       0.48      0.22      0.30       136

    accuracy                           0.86      1000
   macro avg       0.69      0.59      0.61      1000
weighted avg       0.83      0.86      0.84      1000

Feature: 0, Score: -0.00021
Feature: 1, Score: -2.75582
Feature: 2, Score: -0.37459
Feature: 3, Score: 0.08029
Feature: 4, Score: 0.48274
Feature: 5, Score: 0.01532
Feature: 6, Score: -0.00860
Feature: 7, Score: -0.02594
Feature: 8, Score: 0.09972
Feature: 9, Score: 0.01422

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Notice that the coefficients are both positive and negative. The positive scores indicate a feature that predicts class 1, whereas the negative scores indicate a feature that predicts class 0.

## Evaluation of XGB Model

In [38]:
model = XGBClassifier()
# fit the model
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: %0.3f" % accuracy )
print(classification_report(y_test,y_pred))

for feature, score in enumerate(model.feature_importances_):
	print('%s\t\t%.3f' % (df.columns[feature],score))

93.0
              precision    recall  f1-score   support

           0       0.95      0.97      0.96       864
           1       0.77      0.69      0.73       136

    accuracy                           0.93      1000
   macro avg       0.86      0.83      0.84      1000
weighted avg       0.93      0.93      0.93      1000

Feature: 0, Score: 0.02580
Feature: 1, Score: 0.17820
Feature: 2, Score: 0.32579
Feature: 3, Score: 0.08072
Feature: 4, Score: 0.12563
Feature: 5, Score: 0.07179
Feature: 6, Score: 0.02653
Feature: 7, Score: 0.07796
Feature: 8, Score: 0.04533
Feature: 9, Score: 0.04224

# Calculating the Confusion matrix

In [34]:
confusion_matrix(y_test, y_pred)

array([[832,  32],
       [106,  30]])

*Calculating the number of False Negative outcomes

In [35]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

In [36]:
tn, fp, fn, tp

(832, 32, 106, 30)